# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env
.env.*

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# IDE / editors
.vscode/
.idea/
*.swp
*.swo

# Docker
*.tar
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
