trigger:
- develop

variables:
  REGISTRY: saasdrc.azurecr.io
  IMAGE_NAME: saas-auth
  TAG: 1.0.1
  # Set this to the name of the Azure service connection that has access to your ACR
  # ACR_CONNECTION: saasdrc-acr-connection

pool:
  name: eShopOnWebSelfPool

stages:
- stage: BuildAndPush
  displayName: Build and push Docker image
  jobs:
  - job: Build
    displayName: Build
    steps:
    - checkout: self

    - task: Docker@2
      displayName: Build and push image to ACR
      inputs:
        command: buildAndPush
        #containerRegistry: $(ACR_CONNECTION)
        repository: $(IMAGE_NAME)
        dockerfile: Dockerfile
        tags: |
          $(TAG)
          latest

    - script: |
        echo "Image pushed: $(REGISTRY)/$(IMAGE_NAME):$(TAG)"
      displayName: 'Echo pushed image'

# Notes:
# - Create an Azure Container Registry service connection in Azure DevOps and set its name in the ACR_CONNECTION variable.
# - The Docker@2 task will use that service connection to authenticate and push the image to the registry configured in the service connection.
# - If you prefer to login with `az acr login` instead, I can provide an alternative using AzureCLI@2.
